:root {
    cursor: url(assets/RWHand.cur), auto;
}

@font-face {
    font-family: hypercam;
    src: url(assets/FSEX300.ttf) format(truetype);
}
body {
    align-items: center;
    font-family: "Maple Mono";
    cursor: crosshair;
    background-image: url(https://gifcity.carrd.co/assets/images/gallery128/13d961d9.png?v=49efbe4c);
    background-size: cover;
}



#hi {
    font-size: xx-large;
    position: relative;
    left: 100vw;
    bottom: 30vh;
    width: fit-content;
    animation: rotating 10s infinite;
    color: white;
}
@keyframes rotating {
    0% {
        -webkit-transform: rotate(-10deg);
    }
    10% {
        -webkit-transform: rotate(10deg);
    }
    20% {
        -webkit-transform: rotate(-10deg);
    }
    30% {
        -webkit-transform: rotate(10deg);
    }
    40% {
        -webkit-transform: rotate(-10deg);
    }
    50% {
        -webkit-transform: rotate(10deg);
    }
    60% {
        -webkit-transform: rotate(-10deg);
    }
    70% {
        -webkit-transform: rotate(10deg);
    }
    80% {
        -webkit-transform: rotate(-10deg);
    }
    90% {
        -webkit-transform: rotate(10deg);
    }
    100% {
        -webkit-transform: rotate(-10deg);
    }
}

#port {
    font-family: "Maple Mono";
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
    color: white;
    background: rgb(25, 25, 255);
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1);
    border-radius: 55%;
    box-shadow: 0px 10px 0px black;
    position: fixed;
    right: 0;
    top: 0;
    margin: 10px;
}

#port:hover {
    cursor: grab;
}

#port:active {
    transform: translateY(10px);
    box-shadow: 0px 0px 0px black;
    cursor: grabbing;
}

#sound {
    width: 175px;
    height: 20px;
    position: relative;
    box-shadow: 0px 8px 0px black;
}

#sound:active {
    transform: translateY(10px);
    box-shadow: 0px 0px 0px black;
}

#headr {
    font-size: xxx-large;
    position: relative;
    top: 1vh;
    left: 10vw;
    justify-content: center;
    justify-items: center;
    color: white;
}

#back {
    box-shadow: 0px 10px 0px black;
    transition: all 1s cubic-bezier(0.02, 0.68, 0.5, 1);
    position: relative;
    left: 95vw;
    bottom: 10vh;
}

#back:active {
    transform: translateY(10px);
    box-shadow: 0px 0px 0px black;
}

#emi {
    position: relative;
    bottom: -1vh;
    left: 15vw;
}

#spam {
    position: relative;
}

#intro {
    width: 850px;
    height: fit-content;
    position: relative;
    top: 1vh;
    left: 25vw;
    color: white;
}

.subbutton {
    position: relative;
    left: 30vw;
}

#sci {
    position: absolute;
    font-size: xx-large;
    width: 250px;
    height: 250px;
    top:60vh;
    left:60vw;
    border-radius: 50%;
    background-color: #5b39d4;
    border: transparent;
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1);
}

#sci:hover {
    scale: 1.2;
    z-index: 1;
}

#math {
    position:absolute;
    font-size:xx-large;
    width: 250px;
    height: 250px;
    top:50vh;
    left: 30vw;
    border-radius: 50%;
    background-color: red;
    border: transparent;
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1);
}

#math:hover {
    scale: 1.2;
    z-index: 1;
}

#eng {
    position: absolute;
    font-size: xx-large;
    width: 250px;
    height: 250px;
    top: 30vh;
    left: 80vw;
    border-radius: 50%;
    background-color: green;
    border: transparent;
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1);
}

#eng:hover {
    scale: 1.2;
    z-index: 1;
}

#art {
    position: absolute;
    font-size: xx-large;
    width: 250px;
    height: 250px;
    left:10vw;
    top: 30vh;
    border-radius: 50%;
    background-color: orange;
    border: white;
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1)
}

#art:hover {
    scale: 1.2;
    z-index: 1;
}

#ff {
    position: absolute;
    font-size: large;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: 25vh;
    left: 50vw;
    border: transparent;
    background-image: linear-gradient(to right, blue, purple);
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1);
}
#ff:hover {
    scale: 1.2;
    z-index: 1;
}
