:root {
    cursor: url(assets/RWHand.cur), auto;
}

@font-face {
    font-family: hypercam;
    src: url(assets/FSEX300.ttf) format(truetype);
}
body {
    align-items: center;
    font-family: "Maple Mono";
    cursor: crosshair;
    background-image: url(https://gifcity.carrd.co/assets/images/gallery128/13d961d9.png?v=49efbe4c);
    background-size: cover;
}

#kill {
    float: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: all 2s cubic-bezier(0.02, 0.68, 0.5, 1);
    width: 100px;
    height: 100px;
    border-radius: 20%;
    font-family: "Maple Mono";
    cursor: crosshair;
    position: relative;
    left: 0vh;
    bottom: 0vw;
}

#kill:hover {
    background-color: red;
    cursor: grab;
    transform: skewY(60deg);
}

#kill:active {
    background-color: green;
    transform: rotate(360deg);
    cursor: grabbing;
}

#fake {
    background-color: red;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    letter-spacing: 5px;
    transition: all 0.5s cubic-bezier(0.02, 0.68, 0.5, 1);
    font-family: "Maple Mono";
    cursor: crosshair;
    box-shadow: 0px 10px 0px black;
    position: relative;
    left: 0vw;
    bottom: 0vh;
}

#fake:hover {
    cursor: grab;
}

#fake:active {
    cursor: grabbing;
    transform: translateY(10px);
    box-shadow: 0px 0px 0px black;
}

#hi {
    font-size: xx-large;
    position: relative;
    left: 40vw;
    bottom: 10vh;
    width: fit-content;
    animation: rotating 10s infinite;
    color: white;
}
@keyframes rotating {
    0% {
        -webkit-transform: rotate(-10deg);
    }
    10% {
        -webkit-transform: rotate(10deg);
    }
    20% {
        -webkit-transform: rotate(-10deg);
    }
    30% {
        -webkit-transform: rotate(10deg);
    }
    40% {
        -webkit-transform: rotate(-10deg);
    }
    50% {
        -webkit-transform: rotate(10deg);
    }
    60% {
        -webkit-transform: rotate(-10deg);
    }
    70% {
        -webkit-transform: rotate(10deg);
    }
    80% {
        -webkit-transform: rotate(-10deg);
    }
    90% {
        -webkit-transform: rotate(10deg);
    }
    100% {
        -webkit-transform: rotate(-10deg);
    }
}

#port {
    font-family: "Maple Mono";
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
    color: white;
    background: rgb(25, 25, 255);
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1);
    border-radius: 55%;
    box-shadow: 0px 10px 0px black;
    position: fixed;
    right: 0;
    top: 0;
    margin: 10px;
}

#port:hover {
    cursor: grab;
}

#port:active {
    transform: translateY(10px);
    box-shadow: 0px 0px 0px black;
    cursor: grabbing;
}

#sound {
    width: 175px;
    height: 20px;
    position: relative;
    box-shadow: 0px 8px 0px black;
}

#sound:active {
    transform: translateY(10px);
    box-shadow: 0px 0px 0px black;
}

#headr {
    font-size: xxx-large;
    position: relative;
    top: 1vh;
    left: 10vw;
    justify-content: center;
    justify-items: center;
    color: white;
}

#back {
    box-shadow: 0px 10px 0px black;
    transition: all 1s cubic-bezier(0.02, 0.68, 0.5, 1);
    position: relative;
    left: 95vw;
    bottom: 10vh;
}

#back:active {
    transform: translateY(10px);
    box-shadow: 0px 0px 0px black;
}

#gio {
    position: fixed;
    right: 0vw;
    top: 0vh;
    opacity: 0.5;
    margin-right: 0.5vw;
    margin-top: 15vh;
    border: solid 2.5px black;
}

#gio:hover {
    filter: grayscale(1);
}

#emi {
    position: relative;
    bottom: -1vh;
    left: 20vw;
}

#fssh {
    position: relative;
    top: 30vh;
    left: 33vw;
    width: fit-content;
}

#spam {
    position: relative;
}

#cat {
    position: relative;
    left: 0vw;
}

#unplea {
    position: relative;
    left: 0vw;
}

#intro {
    width: 850px;
    height: fit-content;
    position: relative;
    top: 1vh;
    left: 25vw;
    color: white;
}

.subbutton {
    position: relative;
    left: 30vw;
}

#sci {
    position: relative;
    font-size: xx-large;
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: #5b39d4;
    border: transparent;
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1);
}

#sci:hover {
    scale: 1.2;
    z-index: 1;
}

#math {
    position: relative;
    font-size: xx-large;
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: red;
    border: transparent;
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1);
}

#math:hover {
    scale: 1.2;
    z-index: 1;
}

#eng {
    position: relative;
    font-size: xx-large;
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: green;
    border: transparent;
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1);
}

#eng:hover {
    scale: 1.2;
    z-index: 1;
}

#art {
    position: relative;
    font-size: xx-large;
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: orange;
    border: black;
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1);
}

#art:hover {
    scale: 1.2;
    z-index: 1;
}

#ff {
    position: relative;
    font-size: large;
    width: 600px;
    height: 75px;
    border-radius: 20px;
    top: 1vh;
    left: 30.5vw;
    border: transparent;
    background-image: linear-gradient(to right, blue, purple);
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1);
}
#ff:hover {
    scale: 1.2;
    z-index: 1;
}
