body {
    align-items: center;
    font-family: "Maple Mono";
    cursor: crosshair;
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/489/081/non_2x/red-blood-cell-background-free-vector.jpg");
    background-size: cover;
}