:root {
    cursor: url(assets/RWHand.cur), auto;
}

@font-face {
    font-family: hypercam;
    src: url(assets/FSEX300.ttf) format(truetype);
}
body {
    align-items: center;
    font-family: "Maple Mono";
    cursor: crosshair;
    background-image: url(https://gifcity.carrd.co/assets/images/gallery128/13d961d9.png?v=49efbe4c);
    background-size: cover;
}


#emi {
    position: relative;
    bottom: -1vh;
    left: 15vw;
}


#back {
    box-shadow: 0px 10px 0px black;
    transition: all 1s cubic-bezier(0.02, 0.68, 0.5, 1);
    position: absolute;
    left: 1vw;
    top: 1vh;
}

#back:active {
    transform: translateY(10px);
    box-shadow: 0px 0px 0px black;
}


#sci {
    position: absolute;
    font-size: xx-large;
    width: 250px;
    height: 250px;
    top:60vh;
    left:60vw;
    border-radius: 50%;
    background-color: blue;
    border: transparent;
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1);
}

#sci:hover {
    scale: 1.2;
    z-index: 1;
    box-shadow: 0px 0px 5px 12px darkblue;
    animation: rotating 5s infinite;
    cursor: grabbing;
}

#math {
    position:absolute;
    font-size:xx-large;
    width: 250px;
    height: 250px;
    top:50vh;
    left: 30vw;
    border-radius: 50%;
    background-color: red;
    border: transparent;
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1);
}

#math:hover {
    scale: 1.2;
    z-index: 1;
    box-shadow: 0px 0px 5px 12px darkred;
    animation: rotating 5s infinite;
    cursor: grabbing;
}

#eng {
    position: absolute;
    font-size: xx-large;
    width: 250px;
    height: 250px;
    top: 30vh;
    left: 80vw;
    border-radius: 50%;
    background-color: green;
    border: transparent;
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1);
}

#eng:hover {
    scale: 1.2;
    z-index: 1;
    box-shadow: 0px 0px 5px 12px darkgreen;
    animation: rotating 5s infinite;
    cursor: grabbing;
}

#art {
    position: absolute;
    font-size: xx-large;
    width: 250px;
    height: 250px;
    left:10vw;
    top: 30vh;
    border-radius: 50%;
    background-color: orange;
    border: white;
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1)
}

#art:hover {
    scale: 1.2;
    z-index: 1;
    box-shadow: 0px 0px 5px 12px darkorange;
    animation: rotating 5s infinite;
    cursor: grabbing;
}

#ff {
    position: absolute;
    font-size: large;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: 25vh;
    left: 50vw;
    border: transparent;
    background-image: linear-gradient(to right, rgb(126, 126, 251), purple);
    transition: all 1.5s cubic-bezier(0.02, 0.68, 0.5, 1);
    animation: rotating 10s infinite;
}
#ff:hover {
    scale: 1.2;
    z-index: 1;
    box-shadow: 0px 0px 5px 12px rgb(55, 3, 119);
    animation: rotating 5s infinite;
    cursor: grabbing;
}
